<div class="container" style="padding-top: 15px">
    <div class="row"><span class="float-left" style="font-size: 18pt">Cập Nhật Vận Đơn</span></div>
    <div class="row">
        <div class="col-12 row" style="padding-left: 0 !important">
            <div class="col-6 float-left">
                <div class="col-12" style="padding:15px 0 0 0 ">
                        <span class="badge badge-primary" style="margin-top: 20px; margin-right: 5px;">Tổng số vận đơn: {{transactionList.length}}</span>
                        <span class="badge badge-danger" style="margin-top: 20px;">Vận đơn lỗi: {{exceptionList.length}}</span>
                </div>
            </div>
            <div class="col-6 float-right" style="margin: 10px 0 10px 0">
                  
                <button class="btn btn-custom float-right" [disabled]="transactionList.length === 0" (click)="updateTransactionStatus(vehicleLicense.value)">Cập nhật trạng
                    thái</button>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="vehicleLicense">
                        <option [ngValue]="default" hidden>--- Chọn xe ---</option>
                        <option *ngFor="let vehicle of vehicleList" [ngValue]="vehicle.VehicleLicense">
                            {{vehicle.VehicleLicense}}</option>
                    </select>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <input type="number" class="form-control" id="transaction" #transaction
                        placeholder="Nhập mã vận đơn" [disabled]="vehicleLicense === undefined"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        type="number" maxlength="6" (keyup.enter)="enterTransaction(transaction.value)">
                </div>
            </div>
            <hr>
            <div class="col-12">
                <div class="col-6 float-right">
                    <ul class="list-group" style="height: 295px; overflow: auto">
                        <li class="list-group-item" *ngFor="let transaction of transactionList">{{transaction}}</li>
                    </ul>
                </div>
                <div class="col-6 float-left" style="padding: 0;">
                   
                    <ul class="list-group" style="height: 295px; overflow: auto">
                        <li class="list-group-item" *ngFor="let exception of exceptionList">{{exception}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>