<div class="container" style="padding-top: 15px">
    <span class="float-left" style="font-size: 18pt">Nhân Viên</span>
    <button (click)="registerEmployee('register-employee')" class="btn btn-primary btn-custom float-right">Tạo tài
        khoản</button>

    <div class="table tableFixHead">
        <table class="table" id="employee_tbl">
            <thead style="background-color: rgb(229,119,22); color: white">
                <th>#</th>
                <th style="text-align: center;">Tài Khoản</th>
                <th style="text-align: center;">Mật Khẩu</th>
                <th style="text-align: center;">Văn Phòng</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeList; let i = index">
                    <td>{{i+1}}</td>
                    <td style="text-align: center;">{{employee.UserName}}</td>
                    <td style="text-align: center;">{{employee.Password}}</td>
                    <td style="text-align: center;">{{employee.Location}}</td>
                    <td style="text-align: center;">
                        <button class="btn btn-custom pull-right"><i class="fa fa-ban" aria-hidden="true"></i></button>
                        <button class="btn btn-custom pull-right" style="margin-right: 10px !important;"><i
                                class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="register-employee">
        <div class="uk-modal-dialog">

            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Tạo tài khoản</h2>
            </div>
            <div class="uk-modal-body">
                <form class="form-signin">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tên tài khoản" #username>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Mật khẩu" #password>
                    </div>
                    <div class="form-group">
                        <select class="form-control" #location>
                            <option>--- Chọn văn phòng ---</option>
                            <option *ngFor="let location of locationList" [ngValue]="location.LID">
                                {{location.LocationName}}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="btn btn-lg btn-custom btn-block text-uppercase" type="submit"
                    (click)="createAccount(username.value, password.value, location.value)">Tạo tài
                    khoản</button>
            </div>
        </div>
    </div>
    <!-- <app-register-employee id="register-employee"></app-register-employee> -->
</div>