<div class="container" style="padding-top: 15px">
    <div class="row"><span class="float-left" style="font-size: 18pt">Cập Nhật Vận Đơn</span></div>
    <div class="row">
        <div class="col-12 row" style="padding-left: 0 !important">
            <div class="col-6 float-left">
                <div class="col-12" style="padding:15px 0 0 0 ">
                    <span class="badge badge-primary" style="margin-top: 20px; margin-right: 5px;">Tổng số vận đơn:
                        {{transactionList.length}}</span>
                   
                </div>
            </div>
            <div class="col-6 float-right" style="margin: 10px 0 10px 0">

                <button class="btn btn-custom float-right" hidden
                    (click)="updateTransactionStatus(vehicleLicense.value)">Cập nhật trạng
                    thái</button>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="vehicleLicense" (change)="getTransactionByVehicle(vehicleLicense)">
                        <option [ngValue]="default" hidden>--- Chọn xe ---</option>
                        <option *ngFor="let vehicle of vehicleList" [ngValue]="vehicle.VehicleLicense">
                            {{vehicle.VehicleLicense}}</option>
                    </select>
                </div>
            </div>

            <div class="col-6">
                <div class="table table-responsive tableFixHead">
                    <table class="table" id="employee_tbl">
                        <thead style="background-color: rgb(229,119,22); color: white">
                            <th>#</th>
                            <th style="text-align: center;">Mã VĐ</th>
                            <th style="text-align: center;">Nơi nhận</th>
                            <th style="text-align: center;"></th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let transaction of transactionList | autoSearch:search;let i = index">
                                <td>{{i+1}}</td>
                                <td style="text-align: center;">{{transaction.TransId}}</td>
                                <td style="text-align: center;">{{transaction.ReceiverAddress}}</td>
                                <td style="text-align: center;">
                                    <button class="btn btn-custom pull-right" (click)="importTransaction(transaction.TransId)"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
           
        </div>
    </div>

</div>