<div class="container" style="padding-top: 15px">
    <div class="row">
        <div class="col-6">
            <span class="float-left" style="font-size: 18pt">Phương Tiện</span>
        </div>
    </div>
    <div class="row">
        <div class="col-6 form-group">
            <input type="text" placeholder="Tìm kiếm..." class="form-control float-left" [(ngModel)]="search">
        </div>
        <div class="col-6 form-group">
            <button (click)="registerVehicle('register-vehicle')" class="btn btn-primary btn-custom float-right">Thêm phương tiện</button>
        </div>
    </div>




    <div class="table table-responsive tableFixHead">
        <table class="table" id="employee_tbl">
            <thead style="background-color: rgb(229,119,22); color: white">
                <th>#</th>
                <th style="text-align: center;">Số xe</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let vehicle of vehicleList | autoSearch:search;let i = index">
                    <td>{{i+1}}</td>
                    <td style="text-align: center;">{{vehicle.VehicleLicense}}</td>
                    <td style="text-align: center;">
                        <button class="btn btn-custom pull-right" style="margin-right: 10px !important;"
                            (click)="cacheVehicleInfomation(vehicle.VID, vehicle.VehicleLicense, 'delete-vehicle')"><i
                                class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-register-vehicle></app-register-vehicle>
    
    <app-delete-vehicle [cacheVehicle] = "cacheVehicle"></app-delete-vehicle>
</div>