/* You can add global styles to this file, and also import other style files */

.btn-custom {
    margin-bottom: 15px !important;
    background-color: white;
    color:  rgb(229,119,22);
    border: .5px solid  rgb(229,119,22);  
}

.btn-custom:hover {
    border: .5px solid  rgb(229,119,22);
    color: white;
    background-color:  rgb(229,119,22);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px  rgb(229,119,22) !important;
}

.btn-custom:focus {
    border: .5px solid  rgb(229,119,22);
    box-shadow: none;
    color: white;
    background-color:  rgb(229,119,22);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px  rgb(229,119,22) !important;
}

.btn-custom:active {
    border: .5px solid white !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px  rgb(229,119,22) !important;
    color: rgb(229,119,22) !important;
    background-color: white !important
}

html,body {
    overflow-x: hidden;
    overflow-y: auto;
}

