<div class="container" style="padding-top: 15px">
    <div class="row">
        <div class="col-6">
            <span class="float-left" style="font-size: 18pt">Nhân Viên</span>
        </div>
    </div>
    <div class="row">
        <div class="col-6 form-group">
            <input type="text" placeholder="Tìm kiếm..." class="form-control float-left" [(ngModel)]="search">
        </div>
        <div class="col-6 form-group">
            <button (click)="registerEmployee('register-employee')" class="btn btn-primary btn-custom float-right">Tạo
                tài
                khoản</button>
        </div>
    </div>




    <div class="table table-responsive tableFixHead">
        <table class="table" id="employee_tbl">
            <thead style="background-color: rgb(229,119,22); color: white">
                <th>#</th>
                <th style="text-align: center;">Tài Khoản</th>
                <th style="text-align: center;">Mật Khẩu</th>
                <th style="text-align: center;">Văn Phòng</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeList | autoSearch:search;let i = index">
                    <td>{{i+1}}</td>
                    <td style="text-align: center;">{{employee.UserName}}</td>
                    <td style="text-align: center;">{{employee.Password}}</td>
                    <td style="text-align: center;">{{employee.Location}}</td>
                    <td style="text-align: center;">
                        <button class="btn btn-custom pull-right" (click)="cacheDeleteAccountInformation(employee.UserName, employee.UserId)"><i class="fa fa-ban" aria-hidden="true"></i></button>
                        <button class="btn btn-custom pull-right" style="margin-right: 10px !important;"
                            (click)="cacheAccountInfomation(employee.UserName, employee.Password, employee.Location, employee.UserId, 'update-employee')"><i
                                class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-register-employee></app-register-employee>
    <app-update-employee [cacheEmployee]="employee"></app-update-employee>
    <app-delete-employee [cacheDeleteEmployee]="employee"></app-delete-employee>
</div>