<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Đổi Mật Khẩu</h5>
            <form class="form-signin">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tài khoản" #username>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Mật khẩu mới" #newPassword>
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-control" placeholder="Xác nhận mật khẩu" #confirmPassword>
                    </div>

              <button class="btn btn-lg btn-custom btn-block text-uppercase" type="submit" (click)="forgetPassword(username.value, newPassword.value, confirmPassword.value)">Đổi mật khẩu</button>
              <hr class="my-4">
              <a [routerLink]="['/login']">Đăng nhập</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>