<div id="delete-vehicle">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Xóa Phương Tiện</h2>
        </div>
        <div class="uk-modal-body">
            <p>Bạn có muốn xóa xe số {{cacheVehicle.VehicleLicense}}</p>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default btn-custom uk-modal-close" type="button">Không</button>
            <button class="uk-button uk-button-primary btn-custom" type="button" (click)="deleteVehicle()">Có</button>
        </div>
    </div>
</div>