<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="alert alert-danger" role="alert" *ngIf="isError">
          {{errorMessage}}
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Đăng Nhập</h5>
          <form class="form-signin">
            <div class="form-group">
              <input type="text" class="form-control" id="username" #username placeholder="Tài khoản" autofocus>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" #password placeholder="Mật khẩu">
            </div>
            <div class="form-group">
              <select class="form-control" #location>
                <option>--- Chọn văn phòng ---</option>
                <option *ngFor="let location of locationList" [ngValue]="location.LID">{{location.LocationName}}
                </option>
              </select>
            </div>
            <button class="btn btn-lg btn-custom btn-block text-uppercase"
              (click)="login(username.value, password.value, location.value)">Đăng nhập</button>
            <hr class="my-4">
            <a [routerLink]="['/forget-password']">Quên Mật Khẩu</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>