<div id="register-employee">
    <div class="uk-modal-dialog">

        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Tạo tài khoản</h2>
        </div>
        <div class="uk-modal-body">
            <form class="form-signin">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tên tài khoản" #username>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Mật khẩu" #password>
                </div>
                <div class="form-group">
                    <select class="form-control" #location>
                        <option>--- Chọn văn phòng ---</option>
                        <option *ngFor="let location of locationList" [ngValue]="location.LID">
                            {{location.LocationName}}
                        </option>
                    </select>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="btn btn-lg btn-custom btn-block text-uppercase" type="submit"
                (click)="createAccount(username.value, password.value, location.value)">Tạo tài
                khoản</button>
        </div>
    </div>
</div>