<div id="register-vehicle">
    <div class="uk-modal-dialog">

        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Thêm Phương Tiện</h2>
        </div>
        <div class="uk-modal-body">
            <form class="form-signin">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tên tài khoản" #vehicleLicense>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="btn btn-lg btn-custom btn-block text-uppercase" type="submit"
                (click)="createVehicleLicense(vehicleLicense.value)">Thêm phương tiện</button>
        </div>
    </div>
</div>