#transaction_tbl input, #transaction_tbl textarea {
    width: 210px;
}

#transaction_tbl input {
    width: 125px;
}

#transaction_tbl thead, #transaction_tbl tbody {
    vertical-align: top;
    text-align: center
}

.error {
    border: 1px solid red;
}

.table td, .table th {
    border-top: none;
    padding: 2px
}

.table th {
    background-color:  rgb(229,119,22);
    color: white;
}

.tableFixHead {
    max-height: 365px;
    overflow: auto;
    display:inline-block;
    table th{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}

.btn-custom {
    margin-bottom: 15px !important;
    background-color: white;
    color:  rgb(229,119,22);
    border: .5px solid  rgb(229,119,22);  
}

.btn-custom:hover {
    border: .5px solid  rgb(229,119,22);
    color: white;
    background-color:  rgb(229,119,22);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px  rgb(229,119,22) !important;
}

.btn-custom:focus {
    border: .5px solid  rgb(229,119,22);
    box-shadow: none;
    color: white;
    background-color:  rgb(229,119,22);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px  rgb(229,119,22) !important;
}

.btn-custom:active {
    border: .5px solid white !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px  rgb(229,119,22) !important;
    color:  rgb(229,119,22) !important;
    background-color: white !important
}

//Customer scrollbar
.custom-scrollbar {
    background : #F5F6F9;
    overflow-y : auto; // it creates the default scrollbar
}
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    }
    .custom-scrollbar::-webkit-scrollbar-track { // set style to track
    background :  rgb(229,119,22);
    }
    .custom-scrollbar::-webkit-scrollbar-thumb { // sets style to thumb
    background : rgba(255,255,255,0.5);
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.5);
    }