<div class="container" style="padding-top: 15px">
    <span class="float-left" style="font-size: 18pt">Hàng Hóa - {{initDate}}</span>
    <button (click)="addTransaction()" class="btn btn-primary btn-custom float-right">Nhập dữ liệu</button>

    <div class="table-responsive tableFixHead custom-scrollbar">
        <table class="table" id="transaction_tbl">
            <thead>
                <th>Mã Số</th>
                <th>Người Gửi</th>
                <th>SĐT Người Gửi</th>
                <th>Người Nhận</th>
                <th>SĐT Người Nhận</th>
                <th>T.Hàng Hóa</th>
                <th>SL</th>
                <th>Nơi Nhận</th>
                <th>ĐT</th>
                <th>CT</th>
                <th>CN</th>
                <th>Ghi Chú</th>
                <th>Địa chỉ</th>
                <!-- <th></th> -->
                <!-- <th>Tên Người Nhận</th>
                <th>Giờ Nhận</th> -->
            </thead>
            <tbody>
                <tr>
                    <td><input style="width: 65px" class="form-control form-control-sm"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            type="number" maxlength="6" style="width: 85px;"></td>
                    <td><input class="form-control form-control-sm" type="text"></td>
                    <td><input style="width: 115px" class="form-control form-control-sm" type="text"></td>
                    <td><input class="form-control form-control-sm" type="text"></td>
                    <td><input style="width: 115px" class="form-control form-control-sm" type="text"></td>
                    <td><textarea class="form-control form-control-sm" type="text"></textarea></td>
                    <td><input style="width: 70px" class="form-control form-control-sm" type="text"></td>
                    <td><input class="form-control form-control-sm" type="text"></td>
                    <td><input style="width: 105px" class="form-control form-control-sm" type="text"></td>
                    <td><input style="width: 105px" class="form-control form-control-sm" type="text"></td>
                    <td><input style="width: 105px" class="form-control form-control-sm" type="text"></td>
                    <td><textarea class="form-control form-control-sm" type="text"></textarea></td>
                    <td><textarea class="form-control form-control-sm" type="text"></textarea></td>
                    <!-- <td><input class="form-control form-control-sm" class="form-control form-control-sm" type="text"></td> -->
                    <!-- <td><input class="form-control form-control-sm" type="text"></td>
                    <td><input style="width: 65px" class="form-control form-control-sm" type="text"></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>