<div id="updated-comment">
    <div class="uk-modal-dialog" uk-overflow-auto>
        <div class="uk-modal-header">
            <h4 class="uk-modal-title">Chi tiết vận đơn</h4>
        </div>
        <div class="uk-modal-body">
            <div class="row" style="margin-bottom: 5px; border: none !important;">
                <div class="col-6">

                    <p class="card-text">Mã VĐ: {{referenceData.TransId}}
                    </p>

                </div>
                <div class="col-6">


                    <p style="display: inline;">DT: {{referenceData.DT}}
                    </p>

                    <p style="display: inline;"> | CT: {{referenceData.CT}}
                    </p>



                    <p style="display: inline;"> | CN: {{referenceData.CN}}
                    </p>

                </div>
            </div>

            <div class="row" style="margin-bottom: 5px; border: none;">
                <div class="col-6">

                    <p class="card-text">Nơi nhận: {{referenceData.ReceiverAddress}}
                    </p>

                </div>
                <div class="col-6">

                    <p class="card-text">Giờ nhận: {{referenceData.ReceivingTime}}
                    </p>

                </div>
            </div>
            <div class="row" style="margin-bottom: 5px; border: none;">
                <div class="col-6">

                    <p class="card-text">Người ký nhận: {{referenceData.ReceivingPerson}}
                    </p>

                </div>
                <div class="col-6">

                    <p class="card-text">NV cập nhật: {{referenceData.ResponsibleEmployee}}
                    </p>

                </div>
            </div>
            <div class="row" style="margin-bottom: 5px; border: none;">
                <div class="col-6">

                    <p class="card-text">Số xe: {{referenceData.VehicleLicense}}
                    </p>

                </div>
            </div>
            <div class="row" style="margin-bottom: 5px; border: none;">
                <div class="col-12">

                    <p class="card-text">Địa chỉ: {{referenceData.Address}}
                    </p>

                </div>
            </div>

            <div class="row" style="margin-bottom: 5px; border: none;">
                <div class="col-12">

                    <p class="card-text">Ghi chú: {{referenceData.Description}}
                    </p>

                </div>
            </div>
            <hr>
            <div class="row">
                <h2 class="uk-modal-title">Ghi chú hoạt động</h2>
                <div class="alert alert-secondary" role="alert" *ngFor="let comment of transactionComment">
                    {{comment}}
                </div>
            </div>

        </div>
    </div>
</div>