<div id="delete-employee">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Xóa Tài Khoản</h2>
            </div>
            <div class="uk-modal-body">
                <p>Bạn có muốn xóa tài khoản {{cacheDeleteEmployee.UserName}}</p>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default btn-custom uk-modal-close" type="button">Không</button>
                <button class="uk-button uk-button-primary btn-custom" type="button" (click)="deleteEmployee()">Có</button>
            </div>
        </div>
    </div>