<div class="container-fluid" style="padding-top: 15px">
    <div class="row">
        <div class="col-6">
            <span class="float-left" style="font-size: 18pt">Xem Vận Đơn</span>
        </div>
        <div class="col-6 float-right">
            <div class="col-8 form-group float-right">
                <button class=" btn btn-custom float-right" style="margin-left: 5px" (click)="sendReport()">Gửi báo cáo</button>
                <button class=" btn btn-custom float-right" style="margin-left: 5px" (click)="downloadReport()">Tải báo cáo</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 form-group">
            <input type="text" placeholder="Từ ngày" class="form-control float-left" [(ngModel)]="from">
        </div>
        <div class="col-2 form-group">
            <input type="text" placeholder="Đến ngày" class="form-control float-left" [(ngModel)]="to">
        </div>
        <div class="col-8 form-group">
            <button class=" btn btn-custom float-left" (click)="rerender()">Tìm kiếm</button>
        </div>

    </div>

    <table datatable [dtOptions]="this.dtOptions" [dtTrigger]="this.dtTrigger" class="table hover">

    </table>
</div>

<app-transaction-comment [transactionComment]="commentArray" [referenceData]="referenceData"></app-transaction-comment>