<div id="update-employee" class="uk-modal">
    <div class="uk-modal-dialog">

        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Cập nhật tài khoản</h2>
        </div>
        <div class="uk-modal-body">
            <form class="form-signin">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tên tài khoản" value="{{cacheEmployee.UserName}}" #username>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Mật khẩu" value="{{cacheEmployee.Password}}" #password>
                </div>
                <div class="form-group">
                    <select class="form-control" #location>
                        <option hidden>{{cacheEmployee.Location}}</option>
                        <option *ngFor="let location of locationList" [ngValue]="location.LID">
                            {{location.LocationName}}
                        </option>
                    </select>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="btn btn-lg btn-custom btn-block text-uppercase" type="submit"
                (click)="updateAccountInformation(username.value, password.value, location.value)">Cập nhật</button>
        </div>
    </div>
</div>