<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="100" alt="Angular Logo" src="ntl_logo.png" />
  <div id="tab-menu">
    <ul uk-tab>
      <li><a [routerLink]="['search']">Tra Cứu</a></li>
      <li><a [routerLink]="['export']" *ngIf="isShown">Xuất Kho</a></li>
      <li><a [routerLink]="['import']" *ngIf="isShown">Nhập Kho</a></li>
      <li><a [routerLink]="['transaction']" *ngIf="isShown">Vận Đơn</a></li>
      <li *ngIf="isShown">
        <a href="#"  [hidden]="usernameSession !== 'admin'">Quản Lý <span class="uk-margin-small-left" uk-icon="icon: triangle-down"></span></a>
        <div uk-dropdown="mode: hover">
          <ul class="uk-nav uk-dropdown-nav" >
            <li><a [routerLink]="['vehicle']">Phương Tiện</a></li>
            <li class="uk-nav-divider"></li>
            <li><a [routerLink]="['employee']">Nhân Viên</a></li>
            <li class="uk-nav-divider"></li>
            <li><a [routerLink]="['transactions']">Xem Vận Đơn</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="spacer"></div>
  <span style="padding-right: 5px; color:  rgb(229,119,22)" *ngIf="isShown"> Xin chào, {{usernameSession}} ({{locationSession}}) | </span>
  <span [ngSwitch]="signInTitle">
    <a [routerLink]="['login']" style="padding-right: 50px" *ngSwitchCase="'Đăng nhập'">
      <!-- Login Button -->
      Đăng nhập
    </a>

    <a [routerLink]="" (click)="signOut()" style="padding-right: 50px" *ngSwitchCase="'Đăng xuất'">
      <!-- Login Button -->
      Đăng xuất
    </a>
  </span>
</div>

<div class="content container-fluid" role="main">
  <router-outlet></router-outlet>
</div>